@model CookingRecipe.Web.Areas.Manage.ViewModels.Cookings.EditViewModel
@{
    Layout = "~/areas/manage/views/shared/_manageLayout.cshtml";
}

<h1>Edit</h1>


<form method="post" action="~/manage/cookings/edit">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="input a name" />
    </div>
    <div class="form-group">
        <button type="submit" value="Edit" class="btn btn-success">Save</button>
        <a href="~/manage/cookings/index" class="btn btn-danger">Cancel</a>
    </div>
</form>
